header {
    background-color: #D2691E;
    text-align: center;
    font-family: aniron, serif;
}
header li {
    border-bottom: 5px solid #D2691E;
    transition: 1s ease;
}
header li:hover {
    border-bottom: 5px solid white;
}

.kingpouet {
     margin-top: 10%;
     margin-bottom: 10%;
     margin-left: 35%;
 }

.ring1 {
    box-shadow: 3px 3px 8px #e65f00, 3px 3px 8px #e65f00 inset;
    border: 5px solid #e65f00;
    border-radius: 150px;
    height: 50px;
    width: 50px;
}

.ring2 {
    box-shadow: 3px 3px 8px #ffcd00, 3px 3px 8px #ffcd00 inset;
    border: 5px solid #ffcd00;
    border-radius: 150px;
    height: 150px;
    width: 150px;
}


.plop {
    align-items: center;
    position: absolute;
    left: 35%;
    bottom: 10%;
}

.ring3-1 {
    box-shadow: 3px 3px 8px #3a3a39, 3px 3px 8px #3a3a39 inset;
    border: 5px solid #3a3a39;
    margin-left: 25px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
}

.ring3-2 {
    box-shadow: 3px 3px 8px #3a3a39, 3px 3px 8px #3a3a39 inset;
    border: 5px solid #3a3a39;
    margin-left: 50px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 20px;
}

.ring3-3 {
    box-shadow: 3px 3px 8px #3a3a39, 3px 3px 8px #3a3a39 inset;
    border: 5px solid #3a3a39;
    margin-left: 75px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 30px;
}

.ring3-4 {
    box-shadow: 3px 3px 8px #3a3a39, 3px 3px 8px #3a3a39 inset;
    border: 5px solid #3a3a39;
    margin-left: 100px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 40px;
}

.ring3-5 {
    box-shadow: 3px 3px 8px #3a3a39, 3px 3px 8px #3a3a39 inset;
    border: 5px solid #3a3a39;
    margin-left: 125px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    left: 50px;
}

.ring3-6 {
    box-shadow: 3px 3px 8px #3a3a39, 3px 3px 8px #3a3a39 inset;
    border: 5px solid #3a3a39;
    margin-left: 150px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 60px;
}